/*** FREDERICO ALVES @ SHAPE GAMES ***/
.heart-fill {
    fill: #e64356;
    width: 60px;
    height: 60px;

    padding: 12px;
    position: absolute;
    top: 0;
    right: 0;
}

/*** FREDERICO ALVES @ SHAPE GAMES ***/